# Gauge - metadata dir
.gauge

# Gauge - log files dir
logs

# Gauge - reports dir
reports

# Gauge - JavaScript node dependencies
node_modules

# sample files
example/**
videos/**

# huge binaries
**/*.zip


**/message.txt
package-lock.json

# confidential files
.env
